a {
    padding-left: 2px;
    margin-right: 4px;
    flex: 1;
    text-decoration-color: chocolate;
}
.navigation{
    display: flex;
    background-color: cornflowerblue;
    height: 30px;
    line-height: 26px;
}